/* Estilos globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #b7e4c7;
}

.navbar {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-bottom: 4px #1e5734 solid;
    margin: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:85px;
    padding: 20px;
    background-color: #82caa2;
}

.nav-buttons {
    margin-top: 19.5px;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.nav-buttons li {
    list-style: none;
}

.nav-buttons a {
    text-decoration: none;
    font-size: 18px;
    color: #1d3b28;
    padding: 40px 30px 25px 30px;
    position: relative;
    font-weight: bold;
}

.nav-buttons a:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #1a3324;
    bottom: 0;
    left: 0;
}

.nav-buttons a:hover{
    transition: 100ms;
    background-color: rgb(157, 245, 196);
    color: black;
}

.nav-image {
    display: flex;
    justify-content: flex-start;
    position: absolute;
}

.nav-image img {
    margin-left: 20px;
    max-width: 60px;
    max-height: 55px;
}
